<section class="section section--advantages">
    <div class="container">
        <div class="advantages">
            <div class="advantages--item">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="advantages--item-icon">
                    <path d="M24.9346 9.58886C24.77 9.08264 24.321 8.72424 23.7919 8.67637L16.5752 8.02118L13.723 1.34382C13.5125 0.853246 13.0333 0.536621 12.5 0.536621C11.9667 0.536621 11.4874 0.853246 11.2782 1.34382L8.42606 8.02118L1.20815 8.67637C0.679043 8.7252 0.230999 9.08359 0.0654383 9.58886C-0.0991687 10.0951 0.0528495 10.6503 0.453018 11.0013L5.90832 15.7848L4.29982 22.8692C4.18214 23.3901 4.38432 23.9287 4.81653 24.2412C5.04885 24.41 5.3218 24.4943 5.5957 24.4943C5.83107 24.4943 6.06663 24.4317 6.27701 24.3058L12.5 20.5849L18.7219 24.3058C19.1783 24.5786 19.7523 24.5536 20.1835 24.2412C20.6157 23.9287 20.8179 23.3901 20.7002 22.8692L19.0917 15.7848L24.547 11.0013C24.947 10.6503 25.0992 10.0962 24.9346 9.58886Z" fill="#D7607F"></path>
                </svg>
                <h5 class="advantages--item-title">Гарантия качества</h5>
                <p class="advantages--item-text">Поменяем букет или вернём
                    <br> деньги если что-то пошло не так</p>
            </div>
            <div class="advantages--item">
                <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="advantages--item-icon">
                    <g clip-path="url(#clip0)">
                        <path d="M12.5013 18.75C15.3778 18.75 17.7097 16.4181 17.7097 13.5416C17.7097 10.6651 15.3778 8.33325 12.5013 8.33325C9.62483 8.33325 7.29297 10.6651 7.29297 13.5416C7.29297 16.4181 9.62483 18.75 12.5013 18.75Z" fill="#D7607F"></path>
                        <path d="M22.9167 5.20837H19.6131C19.1956 5.20837 18.8034 5.04563 18.5079 4.75061L16.6036 2.84631C16.1118 2.35447 15.4577 2.08337 14.7619 2.08337H10.2381C9.54233 2.08337 8.88823 2.35447 8.39639 2.84631L6.49209 4.75061C6.19658 5.04563 5.80444 5.20837 5.38687 5.20837H2.08335C0.934326 5.20837 0 6.1427 0 7.29167V20.8333C0 21.9823 0.934326 22.9167 2.08335 22.9167H22.9167C24.0657 22.9167 25 21.9823 25 20.8333V7.29167C25 6.1427 24.0657 5.20837 22.9167 5.20837ZM12.5 19.7917C9.05356 19.7917 6.25 16.9881 6.25 13.5417C6.25 10.0952 9.05356 7.29167 12.5 7.29167C15.9464 7.29167 18.75 10.0952 18.75 13.5417C18.75 16.9881 15.9464 19.7917 12.5 19.7917ZM20.8333 10.4167C20.2591 10.4167 19.7917 9.94924 19.7917 9.37503C19.7917 8.80081 20.2591 8.33337 20.8333 8.33337C21.4076 8.33337 21.875 8.80081 21.875 9.37503C21.875 9.94924 21.4076 10.4167 20.8333 10.4167Z" fill="#D7607F"></path>
                    </g>
                    <defs>
                        <clippath id="clip0">
                            <rect width="25" height="25" fill="white"></rect>
                        </clippath>
                    </defs>
                </svg>
                <h5 class="advantages--item-title">Фотоконтроль</h5>
                <p class="advantages--item-text">Отправляем фото заказа перед
                    <br> доставкой в любой мессенджер</p>
            </div>
            <div class="advantages--item">
                <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="advantages--item-icon">
                    <path d="M3.20312 11.4628V22.8024C3.20312 24.0141 4.18886 24.9998 5.40047 24.9998H9.27354V11.4628H3.20312Z" fill="#D7607F"></path>
                    <path d="M14.2613 11.4628H10.7383V24.9999H14.2613V11.4628Z" fill="#D7607F"></path>
                    <path d="M20.7267 5.5534H17.3515C17.5553 5.39711 17.7501 5.22709 17.9339 5.04335C17.9729 5.00434 18.0113 4.96493 18.049 4.92509C19.313 3.59009 18.9681 1.88536 17.9741 0.891371C16.9802 -0.102569 15.2755 -0.44744 13.9405 0.816567C13.9006 0.854311 13.8611 0.892738 13.8222 0.931654C13.2412 1.51261 12.7955 2.20171 12.5002 2.94863C12.2049 2.20176 11.7591 1.51271 11.1783 0.931849C11.1392 0.892689 11.0997 0.854311 11.0599 0.816567C9.72486 -0.447488 8.02018 -0.102569 7.02619 0.891371C6.0322 1.88536 5.68728 3.59013 6.95129 4.92509C6.98899 4.96488 7.02741 5.00434 7.06643 5.04335C7.25021 5.22714 7.44494 5.39711 7.6488 5.5534H4.27352C3.06191 5.5534 2.07617 6.53914 2.07617 7.75075V8.19904C2.07617 9.00875 2.51714 9.71637 3.17084 10.0976H21.8295C22.4831 9.71642 22.9241 9.00875 22.9241 8.19904V7.75075C22.9241 6.53914 21.9384 5.5534 20.7267 5.5534ZM11.4521 5.31732C10.2103 5.36566 8.98902 4.89433 8.10216 4.00751C8.10211 4.00747 8.10206 4.00737 8.10202 4.00732C8.07252 3.97783 8.04347 3.94799 8.01496 3.91787C7.31721 3.18096 7.60422 2.38497 8.06198 1.9272C8.32238 1.66676 8.69225 1.46168 9.09849 1.46168C9.40626 1.46168 9.73501 1.5795 10.0526 1.88018C10.0827 1.9087 10.1126 1.93775 10.1422 1.96744C11.029 2.85425 11.4993 4.07539 11.4521 5.31732ZM16.8983 4.00727C16.8982 4.00732 16.8982 4.00742 16.8981 4.00747C16.0518 4.8537 14.9014 5.32064 13.7187 5.32054C13.6619 5.32054 13.6051 5.31952 13.5482 5.31732C13.5011 4.07539 13.9713 2.85425 14.8583 1.96729C14.8878 1.9378 14.9176 1.90875 14.9478 1.88023C15.6847 1.18258 16.4807 1.46954 16.9384 1.92725C17.3962 2.38497 17.6831 3.18101 16.9854 3.91792C16.9568 3.94794 16.9278 3.97778 16.8983 4.00727Z" fill="#D7607F"></path>
                    <path d="M15.7266 11.4628V24.9998H19.5996C20.8112 24.9998 21.797 24.0141 21.797 22.8024V11.4628H15.7266Z" fill="#D7607F"></path>
                </svg>
                <h5 class="advantages--item-title">Подарок для вас</h5>
                <p class="advantages--item-text">Дарим бокс с клубникой
                    <br> к первому заказу</p>
            </div>
            <div class="advantages--item">
                <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="advantages--item-icon">
                    <g clip-path="url(#clip0)">
                        <path d="M23.3377 12.8238C23.2371 12.618 23.2371 12.3819 23.3377 12.1762L24.2701 10.2687C24.7893 9.20665 24.3779 7.94079 23.3337 7.38674L21.4582 6.39163C21.2559 6.28431 21.1172 6.09329 21.0776 5.86776L20.7108 3.77651C20.5065 2.61216 19.4295 1.82974 18.2592 1.99532L16.157 2.29268C15.9301 2.32471 15.7058 2.25176 15.5412 2.09254L14.0153 0.616372C13.1656 -0.205596 11.8346 -0.205645 10.9849 0.616372L9.45898 2.09268C9.29433 2.25196 9.06997 2.32476 8.84312 2.29283L6.74093 1.99547C5.57028 1.82979 4.49363 2.61231 4.28938 3.77666L3.92259 5.86781C3.88299 6.09339 3.74427 6.28436 3.54198 6.39173L1.6665 7.38684C0.622265 7.94084 0.210939 9.2068 0.730077 10.2689L1.66244 12.1763C1.76303 12.3821 1.76303 12.6181 1.66244 12.8239L0.730028 14.7313C0.210891 15.7933 0.622216 17.0592 1.66645 17.6132L3.54193 18.6084C3.74427 18.7157 3.88299 18.9067 3.92259 19.1322L4.28938 21.2235C4.47532 22.2834 5.3842 23.0268 6.42877 23.0267C6.53165 23.0267 6.63605 23.0195 6.74098 23.0046L8.84317 22.7073C9.06987 22.6751 9.29438 22.7482 9.45903 22.9074L10.9849 24.3836C11.4098 24.7946 11.9549 25.0001 12.5001 25C13.0451 25 13.5905 24.7945 14.0152 24.3836L15.5412 22.9074C15.7058 22.7482 15.9302 22.6754 16.157 22.7073L18.2592 23.0046C19.43 23.1702 20.5065 22.3878 20.7108 21.2234L21.0776 19.1323C21.1172 18.9067 21.2559 18.7157 21.4582 18.6084L23.3337 17.6132C24.3779 17.0592 24.7893 15.7933 24.2701 14.7312L23.3377 12.8238ZM9.61626 6.01146C11.0739 6.01146 12.2597 7.19734 12.2597 8.65495C12.2597 10.1126 11.0739 11.2984 9.61626 11.2984C8.15865 11.2984 6.97277 10.1126 6.97277 8.65495C6.97277 7.19734 8.15865 6.01146 9.61626 6.01146ZM8.25181 17.7677C8.11104 17.9085 7.92652 17.9789 7.74205 17.9789C7.55758 17.9789 7.37301 17.9086 7.23229 17.7677C6.95074 17.4862 6.95074 17.0297 7.23229 16.7482L16.7483 7.23215C17.0298 6.95061 17.4863 6.95061 17.7679 7.23215C18.0494 7.51369 18.0494 7.97019 17.7679 8.25173L8.25181 17.7677ZM15.3838 18.9885C13.9262 18.9885 12.7403 17.8026 12.7403 16.345C12.7403 14.8874 13.9262 13.7015 15.3838 13.7015C16.8414 13.7015 18.0273 14.8874 18.0273 16.345C18.0273 17.8026 16.8414 18.9885 15.3838 18.9885Z" fill="#D7607F"></path>
                        <path d="M15.3852 15.1436C14.7227 15.1436 14.1836 15.6826 14.1836 16.3451C14.1836 17.0077 14.7226 17.5467 15.3852 17.5467C16.0477 17.5467 16.5868 17.0077 16.5868 16.3451C16.5868 15.6826 16.0477 15.1436 15.3852 15.1436Z" fill="#D7607F"></path>
                        <path d="M9.61757 7.45337C8.95503 7.45337 8.41602 7.99238 8.41602 8.65492C8.41602 9.31747 8.95503 9.85653 9.61757 9.85653C10.2801 9.85653 10.8192 9.31752 10.8192 8.65492C10.8191 7.99243 10.2801 7.45337 9.61757 7.45337Z" fill="#D7607F"></path>
                    </g>
                    <defs>
                        <clippath id="clip0">
                            <rect width="25" height="25" fill="white"></rect>
                        </clippath>
                    </defs>
                </svg>
                <h5 class="advantages--item-title">Кешбэк 5%</h5>
                <p class="advantages--item-text">Возвращаем 5% бонусами в личный
                    <br> кабинет от каждого заказа</p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-center">
        <!---->
    </div>
</section>