<section class="section section--info-delivery-product">
    <div class="container">
        <div class="info-delivery-product">
            <div class="info-delivery-product--inner">
                <div class="info-delivery-product--item">
                    <h4 class="info-delivery-product--item-title"></h4></div>
                <div class="info-delivery-product--item">
                    <h4 class="info-delivery-product--item-title"></h4></div>
            </div>
            <div class="info-delivery-product--inner">
                <div class="info-delivery-product--item">
                    <h4 class="info-delivery-product--item-title"></h4></div>
                <div class="info-delivery-product--item">
                    <h4 class="info-delivery-product--item-title"></h4></div>
            </div>
        </div>
    </div>
</section>