<section class="section section--product">
    <div class="container">
        <div class="grid grid--xl-2 grid--md-1">
            <div class="product-gallery--wrapper">
                <div class="section--block product-gallery" id="SliderProductPage">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item--image">
                                    <img src="/images/content/IMG-27.jpg" alt="Клубничная мечта М в шоколаде" data-image-number="0" class="product-gallery--image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item--image">
                                    <img src="/images/content/39.jpg" alt="Клубничная мечта М в шоколаде" data-image-number="1" class="product-gallery--image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-thumbs">
                    <div class="product-thumbs--item product-thumbs--item_active">
                        <img src="/images/content/IMG-27.jpg" alt="Клубничная мечта М в шоколаде" data-image-number="0" class="product-gallery--thumb">
                    </div>
                    <div class="product-thumbs--item">
                        <img src="/images/content/39.jpg" alt="Клубничная мечта М в шоколаде" data-image-number="1" class="product-gallery--thumb">
                    </div>
                </div>
            </div>
            <div class="section--block">
                <div class="section--block-content">
                    <h1 class="section--title">Клубничная мечта М в шоколаде</h1>
                    <p>Клубника покрытая шоколадом создаст всплеск эмоций, нежный шоколад будет таять прямо во рту!</p>
                    <p>Состав: 600 грамм клубники в шоколаде.</p>
                </div>
                <!---->
                <div class="item--colors"></div>
                <h3 class="item--product-size-title">Выберите размер:</h3>
                <div class="section--sizes d-flex">
                    <a href="#" class="link--icon">s</a>
                    <a href="#" class="link--icon nuxt-link-exact-active nuxt-link-active item--product-size_active">m</a>
                    <a href="#" class="link--icon">l</a>
                </div>
                <div class="section--price">
                    <!---->
                    <div class="item--product-card-price">
                        <div class="item--product-card-price-current">2290 ₽</div>
                        <div class="item--product-card-price-bonus"><span class="item--product-card-price-bonus-text">+ бонус 114.5 ₽</span>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#D7607F"></circle>
                                <path d="M8.91818 10.935C8.91818 10.645 9.01318 10.365 9.20318 10.095C9.39318 9.825 9.69318 9.515 10.1032 9.165C10.5132 8.795 10.7882 8.51 10.9282 8.31C11.0682 8.11 11.1382 7.875 11.1382 7.605C11.1382 7.255 11.0182 6.965 10.7782 6.735C10.5482 6.505 10.2632 6.39 9.92318 6.39C9.24318 6.39 8.75818 6.82 8.46818 7.68L7.14818 7.11C7.35818 6.41 7.70818 5.875 8.19818 5.505C8.69818 5.125 9.29318 4.935 9.98318 4.935C10.7632 4.935 11.4232 5.18 11.9632 5.67C12.5032 6.15 12.7732 6.755 12.7732 7.485C12.7732 7.915 12.6682 8.31 12.4582 8.67C12.2482 9.02 11.9082 9.4 11.4382 9.81C11.0082 10.19 10.7232 10.47 10.5832 10.65C10.4432 10.82 10.3732 11.01 10.3732 11.22C10.3732 11.34 10.3932 11.475 10.4332 11.625H9.08318C8.97318 11.375 8.91818 11.145 8.91818 10.935ZM8.97818 14.835C8.75818 14.615 8.64818 14.34 8.64818 14.01C8.64818 13.68 8.75818 13.405 8.97818 13.185C9.20818 12.955 9.48818 12.84 9.81818 12.84C10.1482 12.84 10.4232 12.95 10.6432 13.17C10.8732 13.39 10.9882 13.67 10.9882 14.01C10.9882 14.34 10.8732 14.615 10.6432 14.835C10.4232 15.055 10.1482 15.165 9.81818 15.165C9.48818 15.165 9.20818 15.055 8.97818 14.835Z" fill="white"></path>
                            </svg>
                            <div class="item--bonus-information">
                                <h5 class="item--bonus-title">Бонус на следующую покупку</h5>
                                <p class="item--bonus-text">При покупке любого товара, вы получите кешбек 5%.</p>
                                <p class="item--bonus-text">Бонус зачислится на ваш счёт в течение 5 дней после оформления заказа. Посмотреть накопленные бонусы можно в<a href="/profile">личном кабинете.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="section--actions">
                    <div class="button button_brand">
                        <div class="button--text">Добавить в корзину</div>
                    </div>
                    <div class="button">
                        <div class="button--text">Заказать в один клик</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>